@{
    ViewData["Title"] = "Login Page";
}
 
<form asp-controller="login" asp-action="login" method="post">
    <div>
        Login User ID
        <input type="text" name="name" value=""/>
    </div>
    
    <div>
        Password
        <input type="password" name="password" value=""/>
    </div>
    
    <div>
        <input type="submit" name="login" value="login"/>
    </div>

</form>
